* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 50px 50px;
  font-family: "K2D", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  overflow-y: hidden;
}

/*Quotes*/

.card {
  width: 400px;
  margin: 0 auto;
  padding: 4px 15px;
  font-size: 22px;
  background: #fafca9;
  text-align: center;
  box-shadow: 0 6px 6px;
}

.text p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  color: #141e30;
  text-align: center;
}

.author h4 {
  font-family: cursive;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: gray;
  text-align: center;
}

.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  color: #fff;
  background-color: #243b55;
  border-radius: 6px;
  outline: none;
  padding: 0.5rem 1.8rem 0.5rem 1.8rem;
  transition: 0.5 ease-in;
  margin-bottom: 1rem;
}

button:hover {
  filter: brightness(110%);
  border: none;
  outline: 0;
  transform: scale(1.02);
}
button:focus {
  filter: brightness(120%);
  border: none;
  outline: 0;
}

button:active {
  border: none;
}

@media only screen and (max-width: 450px) {
  .box-centerside {
    width: 270px;
  }
  .text p {
    font-size: 15px;
  }
  .author h5 {
    font-size: 15px;
  }
}
